<div class="container">
    <div class="row">
        <div class="col-md-auto col-centered">
            <div class="card" style="width: 18rem;">
                <img [routerLink] = "['../movies']" src="assets/Frozen.jpg" class="card-img-top" alt="...">
                <p>Now Playing Movies</p>
            </div>
        </div>
        <div class="col-md-auto col-centered">
            <div class="card" style="width: 18rem;">
                <img [routerLink] = "['../movies']" src="assets/Madalorian.jpg" class="card-img-top" alt="...">
                <p>Popular TV Shows</p>
            </div>
        </div>
    </div>
</div>